<h1> Hola Luis</h1>

<p>Este es el inicio de este proyecto</p>

<ul>
    <li>Lista 1</li>
</ul>

<input name="algo" type="text">

<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>