<div class="intro-img">
    <div class="overlay">
        <div class="container text-white">
            <h1>Ministerio Amigos de Jesús y María</h1>
            <table align="center">
                <tr>
                    <td>Dejen a los niños, y no se los impidan que vengan a mí, porque de los que son como éstos es el Reino de los cielos</td>
                </tr>
                <tr>
                    <td class="q-source">Mateo 19,14</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="home-block bg-light-green text-white">
    <div class="container">
        <h2>Mantente Informado</h2>
        <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Correo Electrónico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digita tu correo">
            <small id="emailHelp" class="form-text text-muted">Nunca corpartiríamos tu correo con nadie más</small>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>