// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.intro-img {
    background-image: image-url('home-background.jpg');
    height: 500px;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -28px;
    .overlay {
        width: 100%;
        height: 500px;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .container {
            flex: 0 1 auto;
        }
    }
}

.bg-light-green{
    background-color: $bg-light-green;
}

.home-block{
    width:100%;
    // height:400px;
    padding: 3rem 0;
}

.quote{
    margin-bottom:0;
    margin: 0;
}

.q-source{
    text-align: right;
}